h1 {
    color: darkred;
}
 
.d {
    text-align: center;
}

.p {
    background-color: black;
    color: aqua;
    text-align: center;
}

#h31 {
    color: brown;
}

#h32 {
    color: brown; 
}

#h33 {
    color: red;
}

#h34 {
    color: red;
}


#h35 {
    color: orangered;
}

#h36 {
    color: orangered;
}
