h1 {
    color: aqua;
}
 
.d {
    text-align: center;
}

.p {
    background-color: black;
    color: aqua;
    text-align: center;
}

#h31 {
    color: darkmagenta;
}

#h32 {
    color: darkmagenta; 
}

#h33 {
    color: darkorchid;
}

#h34 {
    color: darkorchid;
}


#h35 {
    color: violet;
}

#h36 {
    color: violet;
}

li {
    color: aqua;
}

h3 {
    color: aquamarine;
}

*{
    background-color: black;
}

div p {
    color: aqua;
    height: min-content;
}

div > p {
    color: goldenrod;
}

h3 {
    border-style: groove;
    border-color: aqua;
    border-bottom-style: groove;
    border-bottom-width: 0cqb;
    border-bottom-color: rgb(146, 37, 197);
    border-left-color: rgb(12, 127, 221);
    border-right-color: rgb(12, 127, 221);
   
}

.sla {
    padding: 25px;

}
